/* EXERCICE 1 */

#mon-titre {
  color: blue;
  text-align: center;
  font-weight: 900;
  /* EXERCICE 2 */
  margin: 0;
}

.mon-bo-header {
  background-color: #909090;
  /* Exercice 2 */
  padding: 2em;
}


/* EXERCICE 2 */

body {
  margin: 0;
}

.ma-belle-liste {
  list-style-type: none;
}

li {
  display: inline;
  padding-left: 2em;
  padding-right: 2em;
}

.liens {
  text-decoration: none;
  color: inherit;
}


/* EXERCICE 3 */

.mon-bouton {
  border-radius: 25em;
  background-color: rgb(162, 251, 152);
  padding: 1.5em;
}

.mon-bouton:hover {
  background-color: #484848;
  color: white;
  cursor: pointer;
}


/* EXERCICE 4 */

article {
  border: 3px black dashed;
  margin: 3em;
  padding: 1em;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/polices/Roboto-Regular.ttf);
}

h2,
h3 {
  font-family: 'Roboto', sans-serif
}

.auteur {
  font-style: italic;
  font-size: 0.7em;
}


/* FLEX */

.flex-div-parent {
  width: 50em;
  height: 20em;
  background-color: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-div1,
.flex-div2,
.flex-div3 {
  width: 10em;
  height: 10em;
  background-color: green;
  display: flex;
}

.flex-div1 {
  align-items: flex-end;
}

.flex-div2 {
  justify-content: center;
  align-items: center;
}

.flex-div3 {
  justify-content: flex-end;
}